/* src/App.css */
.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
}

.terminal {
  background-color: black;
  color: white;
  padding: 10px;
  height: 400px;
  width: 100%;
  overflow-y: auto;
  white-space: pre-wrap;
  text-align: left;
  font-family: monospace, monospace;
  font-size: 12px;
}

button, label {
  margin: 5px;
}

.error {
  color: red;
}

.warn {
  color: yellow;
}
